<!DOCTYPE html>
<html>
<head>
  <title>Menu</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

</head>
<body>
  <header>
    <h2>Inogence</h2>
    <h3>Innovative Intelligence</h3>
  </header>
  <nav>
  <a href = 'home'>Home</a>
  </nav>
  <a href = 'enter_study'><button>Log Study Sessions</button></a>
  <a href = 'test_schedule'><button>Schedule Test</button></a>
  <a href = 'test_result'><button>Upload Test Result</button></a>

</body>
</html>
